body{
	background-image:url(fon.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:1025px;
	margin-bottom:0;
}
.tableMenu td{
	width:140px;
	font-weight:bold;
}
.tableMenu{
	margin-top:10px;
}
.tableBody{
	margin-top:10px;
}
.tdHead{
	padding:0;
}
.tdBody1{
	background-image:url(fonBody.jpg);
	background-size:contain;
	margin:0;
	height:650px;
	width:243px;
	border:2px solid #a3a3a3;
	border-radius:10px;
	box-shadow:0 0 25px black;
	text-align:center;
}
.tdBody2{
	background-image:url(fonBody.jpg);
	background-size:contain;
	height:650px;
	width:743px;
	margin:0;
	border:2px solid #a3a3a3;
	border-radius:10px;
	box-shadow:0 0 25px black;
	text-align:left;
}
.tdMenu, .tdMenuFirst, .tdMenuLast{
	text-align:center;
	background-image:url(button.jpg);
	background-size:contain;
}
.tdMenu{
	border-top:2px solid #a3a3a3;
	border-right:2px solid #a3a3a3;
	border-bottom:2px solid #a3a3a3;
}
.tdMenuFirst{
	border:2px solid #a3a3a3;
	border-radius:10px 0 0 10px;
}
.tdMenuLast{
	border-top:2px solid #a3a3a3;
	border-right:2px solid #a3a3a3;
	border-bottom:2px solid #a3a3a3;
	border-radius:0 10px 10px 0;
}
.tdMenu p:hover{
	background:#9cee9e;
	opacity:0.5;
	cursor:pointer;
}
.tdMenuFirst p:hover{
	background:#9cee9e;
	opacity:0.5;
	cursor:pointer;
}
.tdMenuLast p:hover{
	background:#9cee9e;
	opacity:0.5;
	cursor:pointer;
}
.tdHead img{
	border:5px solid #c0cff5;
	box-shadow:0 0 25px black;
}
.tdBody2 p, .tdBody2 h1{
	padding-left:20px;
}
h1{
	padding-top:20px;
}
span{
	color:red;
}
.bodyText{
	text-align:center;
	font-size:14px;
}
.but1, .but2{
	width:220px;
	height:35px;
	border:2px solid #a3a3a3;
	border-radius:6px;
	font-size:16px;
	background-color:#e1e1e1;
}
.but1{
	margin-top:20px;
}
.but2{
	margin-top:10px;
}
.but1:hover{
	background-color:#d7faeb;
	cursor:pointer;
}
.but2:hover{
	background-color:#d7faeb;
	cursor:pointer;
}
.tdBody1 img{
	border:2px solid #a3a3a3;
	border-radius:7px;
	width:220px;
}
.img1{
	margin-top:10px;
	height:150px;
}
.img2{
	margin-top:10px;
	height:165px;
}
.img3{
	margin-top:10px;
	height:165px;
}
.tableMenu p, .tableMenuFirst p, .tableMenuLast p{
	padding:18px 0;
	margin:0;
}